<div>
    <group label-align="left" label-width="4em" label-margin-right="2em" class="clear-group-border">
        <div v-if="action.type == 'Times'" style="text-align: center;">
            <label>{{ timesProcess }}</label>
        </div>

        <template v-if="action.type == 'Accumulate' || action.type == 'Store'">
            <div style="width: 100px; height: 100px; margin: 0 auto;">
                <x-circle :percent="noncountableLikeProcessPercent" :stroke-width="10" stroke-color="#04BE02">
                    <span>{{ noncountableLikeProcessPercent }}%</span>
                </x-circle>
            </div>
            <p style="text-align: center;">{{ process }} / {{ action.target }}</p>
        </template>
    </group>

    <divider>Timeline</divider>
    <timeline>
        <timeline-item v-for="(item, index) in timeline" :key="index">
            <h4 :class="{recent: index === 0}" v-html="item.value"></h4>
            <p :class="{recent: index === 0}">{{ item.date }}</p>
            <p v-if="item.log">{{ item.log }}</p>
        </timeline-item>
    </timeline>
</div>
