<div>
    <group label-align="left" label-width="4em" label-margin-right="2em" class="clear-group-border">
        <div v-if="action.type == 'Times'" style="text-align: center;">
            <label>{{ timesProgress }}</label>
        </div>

        <template v-if="action.type == 'Accumulate' || action.type == 'Store'">
            <div style="width: 100px; height: 100px; margin: 0 auto;">
                <x-circle :percent="noncountableLikeProgressPercent" :stroke-width="10" stroke-color="#04BE02">
                    <span>{{ noncountableLikeProgressPercent }}%</span>
                </x-circle>
            </div>
            <p style="text-align: center;">{{ progress }} / {{ action.target }}</p>
        </template>
    </group>

    <divider>Timeline</divider>
    <timeline>
        <timeline-item v-for="(item, index) in timeline" :key="index">
            <div v-if="item.type === 'progress'">
                <h4 :class="{recent: index === 0}" v-html="item.value"></h4>
                <p :class="{recent: index === 0}">{{ item.date }}</p>
                <p v-if="item.note">{{ item.note }}</p>
            </div>
            <div v-if="item.type === 'field-change'">
                <h4 :class="{recent: index === 0}">
                    <label>{{ item.field }}:</label>
                    <s>{{ item.from }}</s>
                    <span> --> {{ item.to }}</span>
                </h4>
                <p :class="{recent: index === 0}">{{ item.date }}</p>
                <p v-if="item.note">{{ item.note }}</p>
                <p v-if="!item.note"><a href="#" @click.prevent="showAddLogNoteDialog(item)">Note</a></p>
            </div>
        </timeline-item>
    </timeline>
    <x-dialog v-model="addLogNoteShow" :hide-on-blur="true">
        <group>
            <x-textarea v-model="logNote" placeholder="Note(required)">
            </x-textarea>
        </group>
        <x-button type="primary" style="border-radius: 0px;" @click.native.prevent="addLogNote">Add Note</x-button>
    </x-dialog>
</div>
