@import ../../assets/css/index
@import ../../assets/css/action

/* reset */
.vux-swipeout-button
  font-size: 17px

.action-item
  font-size: 17px
  border-bottom: 1px solid #D9D9D9


.action-item-content
  padding: 10px 15px
  display: flex
  justify-content: space-between
