<div class="clear-group-border-top clear-cell-linkarrow">
    <div v-if="$store.state.reviewMode" style="text-align: center;">
        <h3>{{ `${reviewIndex} of ${reviewProjects.length}` }}</h3>
        <p>{{ `${reviewType} • ${reviewDate}` }}</p>
    </div>
    <group v-if="!loading">
        <cell
            :title="project.title"
            :link="'/project/' + project._id"
            :inline-desc="remainings + ' remainings'"
            :is-link="false"
        ></cell>
    </group>
    <action-list
      v-if="!loading"
      :actions="projectActions(project._id)"
    >
    </action-list>
    <tabbar v-if="$store.state.reviewMode">
        <tabbar-item @click.native="$router.replace(prevReview)">
            <span slot="label">Prev</span>
        </tabbar-item>
        <tabbar-item @click.native="$router.replace(nextReview)">
            <span slot="label">Next</span>
        </tabbar-item>
        <tabbar-item v-if="!isReviewed" @click.native="reviewDialogShow = true">
            <span slot="label">Mark Reviewed</span>
        </tabbar-item>
        <tabbar-item v-if="isReviewed">
            <span slot="label">Reviewed</span>
        </tabbar-item>
    </tabbar>

    <x-dialog v-model="reviewDialogShow" :hide-on-blur="true">
        <group class="clear-group-border">
            <x-textarea v-model="reviewNote" :height="200" placheholder="Note for this review(optional)"></x-textarea>
        </group>
        <x-button type="primary" style="border-radius: 0px;" @click.native.prevent="markReviewed()">Submit</x-button>
    </x-dialog>
</div>
