<group>
    </cell>
    <cell
      link="/review/every-day"
      title="Daily"
      :value="$store.getters.needReviewProject('every day').length + ' reviews'"
    >
    </cell>
    <cell
      link="/review/every-week"
      title="Weekly"
      :value="$store.getters.needReviewProject('every week').length + ' reviews'"
    >
    </cell>
    <cell
      link="/review/every-month"
      title="Monthly"
      :value="$store.getters.needReviewProject('every month').length + ' reviews'"
    >
    </cell>
    <cell
      link="/review/every-year"
      title="Yearly"
      :value="$store.getters.needReviewProject('every year').length + ' reviews'"
    >
    </cell>
</group>
