<div v-if="!loading">
    <form>
        <group label-align="left" label-width="4em" label-margin-right="2em" class="clear-group-border">
            <x-textarea v-model.lazy="action.title" placeholder="Untitled" :show-counter="false" :rows="1" ref="autosize"></x-textarea>
        </group>

        <x-dialog v-model="dialogShow" :hide-on-blur="true">
            <group class="clear-group-border">
                <x-input
                    v-if="action.type !== 'Todo/Done' && action.type !== 'Times'"
                    type="number"
                    v-model.lazy="noncountableLikeItemValue"
                    :placeholder="noncountableLikeItemPlacheholder"
                    :is-type="validateNoncountableLikeItemValue"></x-input>
                <x-textarea v-model="log" :height="200" placeholder="Note(option)"></x-textarea>
            </group>
            <x-button type="primary" style="border-radius: 0px;" @click.native.prevent="addItem">Submit</x-button>
        </x-dialog>

        <tab :line-width=2.5 active-color='#3cc51f' v-model="tabSelected">
            <tab-item class="vux-center" :key="0">Information</tab-item>
            <tab-item class="vux-center" :key="1">Process</tab-item>
            <tab-item class="vux-center" :key="2">Description</tab-item>
        </tab>
        <transition name="fade" mode="out-in">
            <keep-alive>
                <template>
                    <ActionInfo v-if="tabSelected === 0" />
                    <ActionProcess v-if="tabSelected === 1"/>
                    <ActionDescription v-if="tabSelected === 2"/>
                </template>
            </keep-alive>
        </transition>
    </form>
    <actionsheet
        :menus="menus"
        v-model="showMenus"
        show-cancel
        @on-click-menu-addnoncountablelikeitem="dialogShow = true"

        @on-click-menu-addtimesitem="dialogShow = true"

        @on-click-menu-done="dialogShow = true, todoitem='Done'"
        @on-click-menu-skip="dialogShow = true, todoitem='Skip'"
    ></actionsheet>
</div>
