<nav class="top-action-bar">
    <x-header
        :left-options="topActions.left"
        :title="topActions.middle.title"
        :right-options="topActions.right"
        @on-click-back="action('left')"
        @on-click-title="action('middle')"
    >
        {{ topActions.middle.title }}

        <a v-if="topActions.left.showBack === false" slot="left" @click="action('left')">{{ topActions.left.backText }}</a>
        <a slot="right" @click="action('right')">{{ topActions.right.title }}</a>
    </x-header>
</nav>
